In [17]:
# int  a float

a = 250
b = 250
c = int(2)
d = int(2.0)
print(type(d))
e = int(2.5)
print(e)
f = int("3")
print(f)


a = 2.1
print(type(a))
b = float(2)
print(b)
c = float("2.5")
print(c)

d = float('NaN') # Not a number
e = float('Inf') # infinity

<class 'int'>
2
3
<class 'float'>
2.0
2.5

In [18]:
# +, -, *, /, //, %, **

a = 10
b = 2
c = 3.5

# scitani, odecitani, nasobeni
print(a + b, type(a + b))
print(a - b, type(a - b))
print(a * b, type(a * b))

# celociselne deleni
print(a // b, type(a // b))
print(a // c, type(a // c))

# deleni
print(a / b, type(a / b))
print(a / c, type(a / c))
# a = 10 b = 2 c = 3.5
# modulo (zbytek po deleni)
print(a % b, type(a % b))
print(a % c, type(a % c))

# mocnina
print(a ** 2, type(a ** 2))
print(a ** 2.0, type(a ** 2.0))

d = 4.0
print(d ** 2, type(d ** 2))

12 <class 'int'>
8 <class 'int'>
20 <class 'int'>
5 <class 'int'>
2.0 <class 'float'>
5.0 <class 'float'>
2.857142857142857 <class 'float'>
0 <class 'int'>
3.0 <class 'float'>
100 <class 'int'>
100.0 <class 'float'>
16.0 <class 'float'>

In [ ]:
a = 0.1

b = 0.5

### Historické okénko, teplota a úskalí floating point aritmetiky

Německý fyzik Gabriel Fahrenheit navrhl teplotní stupnici se dvěma skvěle zvolenými referenčními body. Teplota 0 °F je nejnižší teplota, jakou se podařilo Fahrenheitovi naměřit (v roce 1724) ve směsi chloridu amonného, vody a ledu. Druhým referenčním bodem pak je *normální* teplota lidského těla, fixovaná na 98 °F. Nyní se jako referenční body používají bod mrazu vody (32 °F) a bod varu vody (212 °F), čemuž odpovídají převodní vztahy

$$
 T_C = (T_F - 32) \frac{5}{9}
$$

$$
 T_F = \frac{9}{5} T_C + 32
$$

In [27]:
tc = 100.0
tf = tc * 9. / 5. + 32
print(tc, tf)

tf = 32.6
tc1 = (tf - 32) * 5./9.
tc2 = tf * 5./9. - 32. * 5./9.
print(tc1, tc2, tc1 == tc2)

tc1 == tc2 # takhle ne
print("%.15f" % 1e-13)
abs(tc1 - tc2) < 1e-18 # 1e-13 = 1 * 10^{-13}

100.0 212.0
0.33333333333333415 0.33333333333333215 False
0.000000000000100

False

In [29]:
a = 1e9 + 1e-6 + 1e-6 + 1e-6 + 1e-6 + 1e-6
b = 1e-6 + 1e-6 + 1e-6 + 1e-6 + 1e-6 + 1e9
print(a)
print(b)

1000000000.0000048
1000000000.000005

In [31]:
# for cykly, cisla od 1 do 10
for i in range(1,11):
    print(i)
    
for i in range(10, 0, -1):
    print(i)

1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1

### Součet řady

$$
s_N = 1 + \sum_{i=1}^N \frac{1}{i(i+1)} = 1 + \frac{1}{2} + \frac{1}{6} + \frac{1}{12} + \dots + \frac{1}{N(N+1)}
$$
$$
s_\infty = 1 + \sum_{i=1}^\infty \frac{1}{i(i+1)} = 2
$$

In [37]:
N = 999999

s = 1.0
for i in range(1, N + 1):
    s += 1.0 / (i * (i + 1))

print(s)

y = 0.0
for i in range(N, 0, -1):
    y += 1.0 / (i * (i + 1))
y += 1.0

print(y)

1.999998999999913
1.9999989999999999

In [49]:
# bool True False

a = True
b = False
c = bool(-1)
print(c, type(c))

d = bool("False")
print(d, type(d))

True <class 'bool'>
True <class 'bool'>

In [52]:
import numpy as np
np.sqrt(2)

1.4142135623730951

In [53]:
from numpy import sqrt
sqrt(2)

1.4142135623730951

In [56]:
from distutils import util

# string to boolean
util.strtobool("t")

1

In [61]:
# ==, !=, <, >, <=, >=

a = 1
b = 2

print(a == b)
print(a != b)
print(a < b)

if (a < b):
    print("hello")

False
True
True
hello

In [64]:
a = "hallo"
b = 'hallo'
c = str(2)
print(type(c))

<class 'str'>

In [71]:
name = "Luis"
print(len(name))
print(name[-1]) # name[len(name) - 1]
print(name[1:3])

4
s
ui

In [76]:
man = "Luis Arroyo Lopez"
woman = "Maria Teresa Garcia Ramirez"

man_middle_name = man[5:11]
wife = woman + " de " + man_middle_name

print(wife)

names = man.split(" ")
print(names[1])
wife2 = woman + " de " + names[1]
print(wife2)

Maria Teresa Garcia Ramirez de Arroyo
Arroyo
Maria Teresa Garcia Ramirez de Arroyo

In [83]:
tc = 10.0
tf = tc * 9. / 5. + 32

print("Teplte {0} stupnu Celsia odpovida teplota {1} stupnu Fahrenheita.".format(tc, tf))
print("Teplte %.5f stupnu Celsia odpovida teplota %.5f stupnu Fahrenheita." % (tc, tf))
print(f"{tc}")

Teplte 10.0 stupnu Celsia odpovida teplota 50.0 stupnu Fahrenheita.
Teplte 10.00000 stupnu Celsia odpovida teplota 50.00000 stupnu Fahrenheita.
10.0

In [85]:
  
for i in range(1, 10):
    if (i > 5):
        break
    print(i)
    
n = 137

1
2
3
4
5