In [9]:
# int
a = 55
b = 55
print(id(a), id(a))
print(a is b)

10916224 10916224
True

In [25]:
a = 10
b = int(10.0)
print(b)
c = int(2.5)
print(c)
d = int(True)
print(d)
e = int(False)
print(e)
f = int("17")
print(f)

10
2
1
0
17

In [22]:
10.0
a = float(10)
print(a)
b = float(False)
print(b)
e = float("NaN") # Not a number
f = float("Inf") # infinity
print(e)
print(f)

10.0
0.0
nan
inf

In [28]:
# +, -, *, //, /, %, **
a = 10
b = 2
c = 3.5

# scitani, odecitani, nasobeni
print(a + b, type(a + b))
print(a - b, type(a - b))
print(a * b, type(a * b))

# celociselne deleni
print(a // b, type(a // b))
print(a // c, type(a // c))

# deleni
print(a / b, type(a / b))
print(a / c, type(a / c))

# modulo (zbytek po deleni)
print(a % b, type(a % b)) # 10 % 2
print(a % c, type(a % c)) # 10 % 3.5

# mocnina
print(a ** 2, type(a ** 2))
print(a ** 2.0, type(a ** 2.0))

d = 4.0
print(d ** 2, type(d ** 2))

12 <class 'int'>
8 <class 'int'>
20 <class 'int'>
5 <class 'int'>
2.0 <class 'float'>
5.0 <class 'float'>
2.857142857142857 <class 'float'>
0 <class 'int'>
3.0 <class 'float'>
100 <class 'int'>
100.0 <class 'float'>
16.0 <class 'float'>

### Historické okénko, teplota a úskalí floating point aritmetiky

Německý fyzik Gabriel Fahrenheit navrhl teplotní stupnici se dvěma skvěle zvolenými referenčními body. Teplota 0 °F je nejnižší teplota, jakou se podařilo Fahrenheitovi naměřit (v roce 1724) ve směsi chloridu amonného, vody a ledu. Druhým referenčním bodem pak je *normální* teplota lidského těla, fixovaná na 98 °F. Nyní se jako referenční body používají bod mrazu vody (32 °F) a bod varu vody (212 °F), čemuž odpovídají převodní vztahy

$$
 T_C = (T_F - 32) \frac{5}{9}
$$

$$
 T_F = \frac{9}{5} T_C + 32
$$

In [34]:
tc = 20.0
tf1 = tc * 9. / 5. + 32.
tf2 = tc * 9. / 5. + 32
print(tf1, tf2, tf1 == tf2)

tf = 200 
tc1 = (tf - 32) * 5. / 9.
tc2 = tf * 5. /9. - 32. * 5. / 9.
print(tc1, tc2, tc1 == tc2)

print(abs(tc1 - tc2) <= 1e-13) # 1e-14 = 1 * 10^{-14}

68.0 68.0 True
93.33333333333333 93.33333333333334 False
True

In [36]:
a = 1e9 + 1e-6 + 1e-6 + 1e-6 + 1e-6 + 1e-6
b = 1e-6 + 1e-6 + 1e-6 + 1e-6 + 1e-6 + 1e9
print(a)
print(b)

1000000000.0000048
1000000000.000005

__Příklad:__ Součet řady

$$
s_N = 1 + \sum_{i=1}^N \frac{1}{i(i+1)} = 1 + \frac{1}{2} + \frac{1}{6} + \frac{1}{12} + \dots + \frac{1}{N(N+1)}
$$
$$
s = \lim_{N \to \infty} s_n = 1 + \sum_{i=1}^\infty \frac{1}{i(i+1)} = 2
$$

In [49]:
# pro i = 0, 50:
#     do(i)
N = 999999
s = 1.0
for i in range(1,N+1):
    s += 1.0 / (i * (i + 1))

print(s)
    
obraceny_soucet = 0.0
for i in range(N, 0, -1):
    obraceny_soucet += 1.0 / (i * (i + 1))
obraceny_soucet += 1.0

print(obraceny_soucet)

1.999998999999913
1.9999989999999999

In [61]:
a = 1
b = 1
c = a==b
# ==, !=, <, >, <=, >=
print(c)

bool("")

True

False

In [65]:
from distutils import util
util.strtobool("False")

0

In [69]:
# retezce
a = "abc"
b = 'abc'
c = str(0.5)
print(type(c))

<class 'str'>

In [77]:
man = "Luis Arroyo Lopez"
woman = "Maria Teresa Garcia Ramirez"

man_middle_name = man[5:11]
wife = woman + " de " + man_middle_name
print(wife)

namelist = man.split(" ")
print(namelist)

Maria Teresa Garcia Ramirez de Arroyo
['Luis', 'Arroyo', 'Lopez']

n = 137