# Cvičení 2 - proměnné a datové typy I

## Proměnná v Pythonu

- ve skutečnosti objekt
- zahrnuje více informací
    - id (adresa)
    - type
    - value
- výhody i nevýhody

In [ ]:
x = 257
y = 257

print(type(x))
print(id(x))
print(x)

print(x, y)
print(id(x), id(y))

print(x is y)
print(x == y)

# Datové typy

![Python data structure](https://media.geeksforgeeks.org/wp-content/uploads/20191023173512/Python-data-structure.jpg)
*Obrázek z webu GeeksForGeeks: https://www.geeksforgeeks.org/python-data-types/*

## Číselné typy (`int`, `float`)

In [7]:
x = 1
x = int(1)
print(x, type(x))

x = int(1.5)
print(x, type(x))

x = float(1)
print(x, type(x))

1 <class 'int'>
1 <class 'int'>
1.0 <class 'float'>

In [9]:
x = 2e7 # 2 * 10^7
print(x)

20000000.0

In [12]:
x = float("text  1.2  \t")
print(x, type(x))

ValueError: could not convert string to float: 'text  1.2  \t'

In [ ]:
# zakladni operace
# +, -, *, /, //, %, **

In [20]:
x = 10
y = 3
z = x / y
print(z, type(z))

3.3333333333333335 <class 'float'>

In [21]:
# implicitni konverze

a = 10
b = 2
c = 3.5

# scitani, odecitani, nasobeni
print(a + b, type(a + b))
print(a - b, type(a - b))
print(a * b, type(a * b))

# celociselne deleni
print(a // b, type(a // b))
print(a // c, type(a // c))

# deleni
print(a / b, type(a / b))
print(a / c, type(a / c))

# modulo (zbytek po deleni)
print(a % b, type(a % b))
print(a % c, type(a % c))

# mocnina
print(a ** 2, type(a ** 2))
print(a ** 2.0, type(a ** 2.0))

d = 4.0
print(d ** 2, type(d ** 2))

12 <class 'int'>
8 <class 'int'>
20 <class 'int'>
5 <class 'int'>
2.0 <class 'float'>
5.0 <class 'float'>
2.857142857142857 <class 'float'>
0 <class 'int'>
3.0 <class 'float'>
100 <class 'int'>
100.0 <class 'float'>
16.0 <class 'float'>

### Historické okénko, teplota a úskalí floating point aritmetiky

Německý fyzik Gabriel Fahrenheit navrhl teplotní stupnici se dvěma skvěle zvolenými referenčními body. Teplota 0 °F je nejnižší teplota, jakou se podařilo Fahrenheitovi naměřit (v roce 1724) ve směsi chloridu amonného, vody a ledu. Druhým referenčním bodem pak je *normální* teplota lidského těla, fixovaná na 98 °F. Nyní se jako referenční body používají bod mrazu vody (32 °F) a bod varu vody (212 °F), čemuž odpovídají převodní vztahy

$$
 T_C = (T_F - 32) \frac{5}{9}
$$

$$
 T_F = \frac{9}{5} T_C + 32
$$

In [27]:
tc = 100

tf = tc * 9./5. + 32.0

tf = 32.6
tc1 = (tf - 32) * 5./9.
tc2 = tf * 5./9. - 32. * 5./9.
print(tc1, tc2)
print(tc1 == tc2)

0.33333333333333415 0.33333333333333215
False

In [28]:
0.1 + 0.2 == 0.3

False

### Binární reprezentace čísel

V desítkové soustavě se čísla vyjadřují pomocí mocnin čísla 10, např

$$
156 = 1 \cdot 10^2 + 5 \cdot 10^1 + 6 \cdot 10^0
$$
$$
0.845 = 8 \cdot 10^{-1} + 4 \cdot 10^{-2} + 5 \cdot 10^{-3}
$$

Ve dvojkové soustavě to funguje stejně, jen používáme mocniny čísla 2, např.

$$
(13)_{10} = 1 \cdot 2^3 + 1 \cdot 2^2 + 0 \cdot 2^1 + 1 \cdot 2^0 = (1101)_2
$$
$$
(0.3125)_{10} = 0 \cdot 2^{-1} + 1 \cdot 2^{-2} + 0 \cdot 2^{-3} + 1 \cdot 2^{-4} = (0.0101)_2
$$

### Floating point aritmetika

Při práci s `float`, pozor na omezenou přesnost. Řada čísel je uložena s jistou zaokrouhlovací chybou (např. č. 0.1), která vstupuje i do operací.

Na co si dát pozor při počítání s `float`
- porovnávání
- sčítání není komutativní
- odečítání velikých blízkých čísel (*cancellation*)
- součet mnoha čísel s malým výsledkem (*smearing*)

In [36]:
x = 1 / 3.0
y = .1 / .3
print(x==y)
print(x, y)
print(abs(x-y) < 1e-14)

False
0.3333333333333333 0.33333333333333337
True

In [37]:
# 1000000000 + 5* 0.000001 = 1000000000.000005
a = 1e9 + 1e-6 + 1e-6 + 1e-6 + 1e-6 + 1e-6
b = 1e-6 + 1e-6 + 1e-6 + 1e-6 + 1e-6 + 1e9

print(a)
print(b)

1000000000.0000048
1000000000.000005

__Příklad:__ Součet řady

$$
    s_N = 1 + \sum_{i=1}^N \frac{1}{i(i+1)} = 1 + \frac{1}{2} + \frac{1}{6} + \frac{1}{12} + \dots + \frac{1}{N(N+1)} = 1+\frac{N}{N+1}
$$
$$
s = \lim_{N \to \infty} s_n = 1 + \sum_{i=1}^\infty \frac{1}{i(i+1)} = 2
$$



$$
\sum_{i=0}^\infty \frac{1}{2^i}
$$

In [42]:
suma = 0
for i in range(1, 6): # range(start, stop, step)
    suma = suma + i
    # suma += 1
print(suma)

15

In [46]:
N = 100000

suma = 1.0
for i in range(1, N):
    suma += 1. / (i * (i + 1))

exact = 1 + N / (N + 1)
print(suma)
print(exact)

suma = 0.0
for i in range(N, 0, -1):
    suma += 1. / (i * (i + 1))
suma += 1.0

print(suma)

1.9999899999999777
1.999990000099999
1.999990000099999

### Logický typ `bool`

In [53]:
a = bool("")
print(a, type(a))

False <class 'bool'>

In [56]:
from distutils import util
print(bool(util.strtobool("F")))

False

In [59]:
# and, or, not
print(False or True)

True

In [61]:
# ==, !=, <, >, <=, >=
p = 1
q = 2

a = not((p<q) or (p>q))
print(a, type(a))

False <class 'bool'>

### Řetězce (`string`)

In [ ]:
"noha"
str("oko")
'klobasa'
str(5)
str('1e-12')

- První sekvenční typ
- k jejich prvkům přistupujeme pomocí hranaté závorky
- hranatá závorka umí i složitější operace (slicing)

In [70]:
a = "hello world"
print(a[0:6:2])
print(a[::-1])

hlo
dlrow olleh

### Španělská jména

Ve Španělsku (alespoň v některých oblastech) bývá zvykem, že žena při sňatku připojí ke svému jménu prostřední jméno svého manžela s předložkou `de`.

Příklad: Luis Arroyo Lopez si vezme ženu jménem Maria Teresa Garcia Ramirez. Ta se po svatbě bude jmenovat Maria Teresa Garcia Ramirez de Arroyo,

Zkusme to naprogramovat: na vstupu obě dvě jména, výstup ženino jméno.

In [76]:
man = "Luis Ruiz Lopez"
woman = "Maria Teresa Garcia Ramirez"

names = man.split()
print(names)
middle_name = names[1]

wife = woman + " de " + middle_name
print(wife)

['Luis', 'Ruiz', 'Lopez']
Maria Teresa Garcia Ramirez de Ruiz

### Formátovaný výstup

In [77]:
print(.1 / .3)

0.33333333333333337

In [83]:
a = -1
b = 1.0
c = "string"

formatstr = "integer %-0.5f, float %f, string %s"

print(formatstr % (a, b, c))

integer -1.00000, float 1.000000, string string

In [87]:
a = -1
b = 1.0
c = "string"
# placeholder
formatstr = "integer {1:.8f}, float {1}, string {0}"

print(formatstr.format(a, b, c))

x = (1.0, 2.0)

print("{0[1]} {0[0]}".format(x))

integer 1.00000000, float 1.0, string -1
2.0 1.0

In [90]:
# f string
a = 1
b = 3.14

formatstr = f"a = {a:04d}, {b}"
print(formatstr)

a = 0001, 3.14

V dokumentaci pod názvy jako *Format specification mini-language* nebo *printf style formatting*

## Dobrovolný domácí úkol

Napiště program, který rozhodne, zda zadané číslo je prvočíslo.